body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
}

.container {
  width: 570px;
  margin: 0 auto;
}

.bold-text {
  font-weight: 900;
  display: block;
}

h1 .bold-text {
  font-size: 80px;
}

h2 .bold-text {
  font-size: 60px;
}

h1,
h2 {
  font-weight: 300; 
}

h1 {
  font-size: 60px;
  margin-top: 0;
}

h2 {
  font-size: 42px;
  margin-top: 0;
  border-top: solid 2px #c4c4c4;
  border-bottom: solid 2px #c4c4c4;
  padding: 30px 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}




.small-text {
  font-size: 16px;
  margin-top: 5px;
} 

.accent {
  color: #99D930;
  font-size: 18px;
  font-weight: 900;
}

header,
section {
  padding: 100px 0;
}

.inverse {
  color: #fff;
  background: #252525;
}

.shaneImg {
  width: 250px;
  height: 295px;
  border: 2px solid white;
}

.btn {
  font-weight: 900;
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  background: #99D930;
  margin-top: 20px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: #252525;
    color: #fff;
}

a {
  color: #99D930;
  text-decoration: none;
}

a:hover {
  color: white;
}



#open-modal, #close-modal, #close-modal_port {
  background-color: #c4c4c4b6;
  color: white;
  padding: 6px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 50px;
}

#modal {
  background-color: #99D930;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 320px;
  position: relative;
  top: 30%;
}

#overlay {
  display: none;
  width: full;
  height: full;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  
}

#overlay2 {
  display: none;
  width: full;
  height: full;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  
}




#contact-info {
  color: rgb(7, 22, 231);
}

#close-modal:hover {
  background: #252525;
  color: #fff;
}


#portfolio-btn {
  background: none;
  text-decoration: none;

}



#close-modal_port:hover {
  background: #252525;
  color: #fff;

}




#modal-heading {
  border-top: solid 2px #868686;
  border-bottom: solid 2px #868585;
}

#portfolio-modal {
  cursor: pointer;

}

.project_list {
  color: white;
  list-style-type: disc;
}


.project_link a {
  color: rgb(255, 255, 255);
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
}

.project_link a:hover {
  color: rgb(18, 59, 192);
}




