body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
}

.container {
  width: 570px;
  margin: 0 auto;
}

.bold-text {
  font-weight: 900;
  display: block;
}

h1 .bold-text {
  font-size: 80px;
}

h2 .bold-text {
  font-size: 60px;
}

h1,
h2 {
  font-weight: 300; 
}

h1 {
  font-size: 60px;
  margin-top: 0;
}

h2 {
  font-size: 42px;
  margin-top: 0;
  border-top: solid 2px #c4c4c4;
  border-bottom: solid 2px #c4c4c4;
  padding: 30px 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  color: #99D930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

.small-text {
  font-size: 16px;
  margin-top: 5px;
} 

.accent {
  color: #99D930;
  font-size: 18px;
  font-weight: 900;
}

header,
section {
  padding: 100px 0;
}

.inverse {
  color: #fff;
  background: #252525;
}

.shaneImg {
  width: 250px;
  height: 295px;
  border-radius: 65%;
  border: 8px solid white;
}

.btn {
  font-weight: 900;
  display: inline-block;
  background-color: turquoise;
  padding: 8px 16px;
  text-decoration: none;
  background: #99D930;
  margin-top: 20px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: #252525;
    color: #fff;
}

#open-modal, #close-modal {
  background-color: #c4c4c4;
  color: white;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

#modal {
  background-color: #99D930;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 320px;
  position: relative;
  top: 30%;
}

#overlay {
  display: none;
  width: full;
  height: full;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  
}

#contact-info {
  color: aqua;
}

#close-modal:hover {
  background: #252525;
  color: #fff;
}

#gitHubBtn {
  margin: 20px;
  color: #252525;
  text-decoration: none;
}



#modal-heading {
  border-top: solid 2px #868686;
  border-bottom: solid 2px #868585;
}